@charset "utf-8";
bodyy, form, label, textarea {
	padding: 0;
	margin: 0;
}
body {
	font: 14px/1.5 "Hiragino Sans GB", "\u5fae\u8f6f\u96c5\u9ed1", "\5FAE\8F6F\96C5\9ED1", tahoma, arial, "\5b8b\4f53", sans-serif;
	background: #f0f1f1;
	margin-top: 25px;
}
img {
	border: none;
}
a, a:visited {
	color: #5183c0;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.clear {
	clear: both;
	line-height: 1px;
	overflow: hidden;
	height: 1px;
	font-size: 1px;
	zoom: 1;
}
h2 {
	letter-spacing: 2px;
}
hr.divider {
    border: 0;
    height: 0;
	margin:20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover {
	text-decoration: none;
	color : #000;
}
h2 a {
	text-decoration:none;
}
.input {
	padding: 8px;
	border: 1px solid #dbdbdb;
	font-size: 14px;
}
.textarea {
	padding: 8px;
	border: 1px solid #dbdbdb;
	font-size: 14px;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	color: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #6BC30D;
	border: 0;
	text-decoration:none;
	letter-spacing: 1px;
}
.btn:visited {
	color:#fff;
}
.btn-small {
	padding: 5px 10px;
	font-size: 12px;
}
.submit-button {
	padding: 5px 20px;
	color: #444;
	color: rgba(0,0,0,.8);
	border: 1px solid #999;
	border: 0 rgba(0,0,0,0);
	background-color: #E6E6E6;
	text-decoration: none;
	border-radius: 2px;
	-webkit-transition: .1s linear -webkit-box-shadow;
	-moz-transition: .1s linear -moz-box-shadow;
	-ms-transition: .1s linear box-shadow;
	-o-transition: .1s linear box-shadow;
	transition: .1s linear box-shadow;
	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	font-size: 14px;
}
.blue-btn {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.yellow-btn {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.green-btn {
	background-color: #6BC30D;
	color: #fff;
}
.gray-btn {
	background-color: #323436;
	color: #fff;
}
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("/global/img/icon-white.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-right: 5px;
}
.icon-pencil {
	background-position: 0 -72px;
}

.icon-comment {
	background-position: -240px -120px;
}

/** 全局布局 **/
.wrap {
	width: 995px;
	margin: 0 auto;
}
.top {
	position: relative;
	height: 45px;
	background: #323436;
	color: #fff;
	margin-bottom: 25px;
}
.nav li {
	display: inline-block;
	height: 45px;
}
.head-right {
	position: absolute;
	right: 20px;
	top: 8px;
}
.head-right .join {
	padding: 0 10px;
}
.head-right p {
	margin: 0;
	padding: 0;
}
.top a, .top a:hover, .top a:focus {
	color: #fff;
	text-decoration: none;
}
.nav a {
	font-weight: bold;
	text-shadow: rgba(0,0,0,0.1) 0 1px 1px;
	display: inline-block;
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
	letter-spacing: 2px;
}
.nav a.selected {
	background: #6BC30D;
	color: #fff;
}
.nav a:hover, .nav a:focus {
	background: #6BC30D;
}
.content {
	position: relative;
	padding: 0;
}
p {
	letter-spacing: 1px;
	line-height: 1.8;
}
.box {
	position: relative;
	padding: 20px;
	background: #fff;
	margin-bottom: 15px;
}
.mbox {
	padding: 10px 25px;
	position: relative;
	background: #fff;
}
.left {
	margin-right: 270px;
}
.f {
	margin-right: 0;
}
.right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	margin-left: 20px;
}
/** tag **/
.tag-box a {
	display: inline-block;
	padding: 3px 5px;
	margin-bottom: 5px;
	background: #6BC30D;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-size:13px;
}
/** 提示 **/
.label {
	border: 1px solid #ddd;
	display: inline-block;
	position: relative;
	top: -1px;
	padding: 3px 8px;
	color: #000;
	background-color: #fff;
	text-decoration: none;
}
a.label:hover {
	color: #000;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
.label-black, .label-red, .label-orange, .label-green, .label-blue, .label-yellow {
	border: none;
	color: #fff;
	padding: 4px 8px;
}
.label-yellow {
	background-color: #f3c835;
}
.label-red {
	background-color: #ef6465;
}
.label-orange {
	background-color: #f48a30;
}
.label-green {
	background-color: #6BC30D;
}
.label-blue {
	background-color: #1c7ab4;
}
.message {
	position: relative;
	padding: 9px 13px;
	border: 1px solid #f7dc7d;
	border-radius: 5px;
	color: #9f7d09;
	background-color: #fdf7e2;
}
.message-success {
	color: #546628;
	border-color: #d1dfae;
	background-color: #f0f5e5;
}
.message-error {
	color: #c01415;
	border-color: #f9c0c1;
	background-color: #fdefef;
}
.message .close {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 6px;
}
.close {
	padding: 4px 6px;
	line-height: 1;
	font-size: 18px;
	cursor: pointer;
	color: #000000;
	text-decoration: none;
	opacity: 0.4;
}
.close:before {
	content: '\00D7';
}
/** 表单 **/
.reg-container {
	padding-top: 30px;
}
.reg-from fieldset {
	border: 0px solid #dbdbdb;
	margin: 0 2px;
	padding: 30px 20px;
}
.reg-from div {
	margin-bottom: 15px;
}
.reg-from .controls-bar {
	margin-left: 110px;
}
.reg-from label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	margin: 0 10px 0 0;
	font-size: 15px;
}
.reg-from input {
	padding: 8px;
	width: 200px;
	border: 1px solid #dbdbdb;
	font-size: 14px;
}
.reg-from input.border-red {
	border: 1px solid #ef6465;
}
/** 发布文章 **/
.post-box .field {
	margin-bottom: 15px;
}
.post-box .field strong {
	display: block;
	margin-bottom: 5px;
}
.post-box .field strong em {
	color: #ccc;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	padding-left: 5px;
}
.post-box .input {
	width: 652px;
}
.post-box .textarea {
	width: 652px;
	height: 100px;
}
.post-box input.btn {
	border: 0px;
	margin: 0;
	color: #fff;
}
.post-box .thumbnails-container {
	position: relative;
	width: 315px;
	height: 236px;
	margin-bottom: 10px;
}
.post-box .thumbnails-tips {
	position: absolute;
	top: 106px;
	left: 0;
	height: 25px;
	width: 315px;
	text-align: center;
	line-height: 35px;
	color: #6BC30D;
}
.post-box .thumbnails-btn {
	position: absolute;
	left: 0;
	top: 0;
}
.post-box .thumbnails {
	width: 315px;
	height: 236px;
	border: 1px solid #dbdbdb;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
}
.post-box .thumbnails img {
	max-width: 315px;
}
.post-box .tag-box a {
	background: #333;
}
.post-box .tag-box a.selected {
	background: #6BC30D;
}
/** 翻页 **/
.paginate, .current, .inactivePrev, .inactiveNext, .prev, .next {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	border: 1px solid #D8D8D8;
	float: left;
	height: 25px;
	line-height: 25px;
	margin-right: 2px;
	overflow: hidden;
	padding: 0 10px;
	text-decoration: none;
}
a:hover .paginate {
	border-color: #006699;
	color:#fff;
}

a.current:hover {
	color:#fff;
}

.current {
	border-color: #6BC30D;
	background-color: #6BC30D;
	color: #fff;
	font-weight: bold;
}
.inactivePrev, .inactiveNext {
	color: #999;
}
/** 首页 **/
.offset {
	position: relative;
	overflow: hidden
}
.section1:after, .section1:after {
	content: '';
	display: block;
	clear: both
}
.section1 .grid1 {
	float: left;
	width: 315px;
	margin: 0 25px 0 0
}
.section1 .grid2 {
	float: left;
	width: 655px;
	margin: 0 25px 0 0
}
.section1 .grid3 {
	float: right;
	width: 285px;
	min-height: 665px;
	padding: 15px;
	text-align: left;
}
.block {
	position: relative;
	margin: 0 0 25px;
	background: #fff;
	height:335px;
}

.block img {
	width:100%;
}
.block .intro {
	background:#fff;
	position:absolute;
	bottom:0px;
	left:0px;
	padding-bottom:10px;
	width:100%;
}
.block .img {
	display:block;
	text-align:center;
	max-height:236px;
}

.block h3 {
	margin: 10px;
	text-transform: uppercase;
	font-size: 14px;
	text-align: left;
}
.block .tagList {
	color: #999;
	margin: 0 10px;
	font-size: 12px;
}
.block .tagList a {
	color: #999;
	text-decoration: none;
	background:#6BC30D;
	color:#fff;
	padding:1px 2px;
}
.block .price {
	color: #f1773a;
	text-decoration: none;
}
.block h3 a {
	color: #5183c0;
	text-decoration: none;
	letter-spacing: 1px;
}
.section1 .grid1 .block {
	min-height: 310px
}
.section1 .grid2 .block {
	min-height: 645px
}
.section1 .last, .section2 .last {
	margin: 0;
}
.section1 .block.add .block-add {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 9px 0;
	font: 15px/18px 'proxima_nova_excn_rgbold', Arial, Helvetica, sans-serif;
	border-top: 1px solid #e5e5e5
}

/** 文章内容 **/
.articles {
}

.articles .datePosted {
	color:#999;
	font-size:12px;
}

