<!doctype html>
<html>
<head>
<title>{{title}}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="keywords" content="{{keywords}}" />
<meta name="description" content="{{description}}" />
{{head}}
<link rel="Shortcut Icon" href="{{baseurl}}global/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{{baseurl}}global/css/style.css" media="screen" />
<script src="{{baseurl}}global/js/Q.js"></script>
</head><body>
<div class="wrap"> 
  <!-- include 'top' -->
  <div class="content">
    <div class="box left">
      <h2>{{post.@title}}</h2>
      <div class="articles"> {{post.@content}}
        <div class="tagContainer"> <strong>标签: </strong> 
          <!-- loop post.@Tag --> 
          <span class="tag"><a href="{{baseurl}}tag/{{l' v.@name}}">{{l' v.@name}}</a></span> 
          <!-- endloop --> 
        </div>
        <em class="datePosted">Posted on {{formatDate2(post.@createtime)}}</em> </div>
      <hr class="divider" />
      <div id="comments" name="comments"> 
        <!-- if {{isset(comments)}} --> 
        <strong>Total Comments ({{post.@totalcomment}})</strong><br/>
        <br/>
        <!-- loop comments --> 
        <span id="comment{{comments' value.@id}}" name="comment{{comments' value.@id}}" style="font-weight:bold;"> 
        <!-- if !{{empty(comments' value.@User)}} --> 
        <a href="{{baseurl}}user/{{comments' value.@user_id}}">{{comments' value.@User.@username}}</a> 
        <!-- endif --> 
        </span> said on <em>{{formatDate(comments' value.@createtime, 'd M y h:i:s A')}}</em>,<br/>
        <div class="commentItem">{{comments' value.@content}}</div>
        <br/>
        <!-- endloop -->
        <hr class="divider"/>
        <!-- endif --> 
      </div>
      <div>
      <!-- Baidu Button BEGIN -->
      <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"> <a class="bds_qzone"></a> <a class="bds_tsina"></a> <a class="bds_tqq"></a> <a class="bds_renren"></a> <a class="bds_t163"></a> <span class="bds_more">更多</span> </div>
      <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=20900" ></script> 
      <script type="text/javascript" id="bdshell_js"></script> 
      <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script> 
      <!-- Baidu Button END -->
<!-- 将此标记放在您希望显示like按钮的位置 -->
<div class="bdlikebutton" style="float:right"></div>

<!-- 将此代码放在适当的位置，建议在body结束前 -->
<script id="bdlike_shell"></script>
<script>
var bdShare_config = {
	"type":"small",
	"color":"blue",
	"uid":"20900"
};
document.getElementById("bdlike_shell").src="http://bdimg.share.baidu.com/static/js/like_shell.js?t=" + Math.ceil(new Date()/3600000);
</script>
<div class="clear"></div>
</div>
      <!-- if {{user.group}} == "admin" -->
      <div class="admin-bar"> <a href="{{baseurl}}post/edit/{{post.@id}}" class="btn blue-btn"><i class="icon-pencil"></i>编辑文章</a> </div>
      <!-- endif --> 
      <!-- if {{user.id}} > 0 -->
      <div class="post-box">
        <p><strong>参与评论：</strong></p>
        <form method="POST" action="{{url('BlogController', 'newComment')}}">
          <input type="hidden" name="post_id" value="{{post.@id}}"/>
          <input type="hidden" name="user_id" value="{{user.id}}"/>
          <div class="field">
            <textarea cols="45" rows="6" name="content" class="textarea"></textarea>
          </div>
          <div class="field">
            <input type="submit" class="btn btn-big" value="发表评论"/>
          </div>
        </form>
      </div>
      <!-- endif --> 
    </div>
    <div class="right">
      <div class="box"> <a href="{{baseurl}}post/create">我要投稿</a>
        <h2>Tags :</h2>
        <!-- cache('randomTag', 300) --> 
        <!-- loop randomTags --> 
        <span class="tag"><a href="{{baseurl}}tag/{{randomTags' value.@name}}">{{randomTags' value.@name}}</a></span> 
        <!-- endloop --> 
        <!-- endcache --> 
      </div>
      <div style="text-align:center">
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <!-- include 'bottom' --> 
</div>
</body>
</html>
