<table cellspacing="0" cellpadding="10" border="0" style="background:#FFFEED;border:1px solid #F8F3D6;width:100%;">
  <tbody>
    <tr>
      <td valign="middle" style="color:#F3750F;padding:20px 0 20px 20px;">Hi，<b>{{user_name}}</a></b>，欢迎加入{{site_name}}！</td>
    </tr>
    <tr>
      <td valign="middle" style="color:#666;padding-left:19px;">请单击下面的连接完成注册：</td>
    </tr>
    <tr>
      <td valign="middle" style="color:#666;padding-left:19px;"><a href="{{active_url}}" style="color:#0082CB;word-break:break-all;word-wrap:break-word;" target="_blank">{{active_url}}</a></td>
    </tr>
    <tr>
      <td valign="middle" style="color:#666;padding-left:19px;">如果通过以上链接无法访问,请将该网站复制并粘贴至新的浏览器窗口中。 </td>
    </tr>
    <tr>
      <td valign="middle" style="color:#666;padding-left:19px;">若您忘记密码，<a href="{{forget_url}}" style="color:#0082CB;word-break:break-all;word-wrap:break-word;text-decoration:none;" target="_blank">点击这里找回</a>。 </td>
    </tr>
  </tbody>
</table>
